html,
body {
    height: 100%;
    font-family: Exo, sans-serif !important; 
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/

/*Content pegado al sitio, y contenedor Principal con padding*/

.content {    
    padding: 1px 1px !important;
}
.contenedor_principal {    
    padding: 15px 15px !important;
    margin-left:10px;
}



.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: white !important;
}

/**************************************Color blanco de main header************************************/
.skin-blue .main-header .logo {
    background-color: white !important;
}
.skin-blue .main-header .navbar {
    background-color: white !important;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: grey !important;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: grey !important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: white !important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: grey !important;
}

/*Icono circular con foto parte superior derecha*/
.navbar-nav>.user-menu .user-image {
    border: solid 1px #AAB5B1 !important;
}

.skin-blue .main-header .navbar {       /*Sombreado borde izquierdo de header*/
    -webkit-box-shadow: inset 10px 10px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: inset 10px 10px 5px 0px rgba(102,102,102,1);
    box-shadow: inset 3px 0px 0px 0px rgba(0,0,0,0.15);
    border-radius: 1px;
}

    .main-header > a{       /*Sombreado caja que alberga logo*/
    -webkit-box-shadow: 0px 1px 34px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 34px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.15);
    z-index: 9999999;
    }

    
/*Header de usuario*/    
.skin-blue .main-header li.user-header {
    background-color: #F7931E !important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 135px !important;
}

/*.usuario{
    height: 62px !important;
}
.usuario:hover{
    background-color: #E5E5E5 !important;
}*/

.usuarioa{
    /*border: solid 1px red;*/
     height: 64px !important;
}/*
.usuario:hover{
    background-color: #E5E5E5 !important;
}*/

    
/**************************************Fin Color blanco de main header************************************/    

/*Menu izquierda:*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white !important;
    background-color: #F7931E;
}

.nav-stacked>li.active>a, .nav-stacked>li.active>a:hover {
    background: #F7931E !important;
    border-left-color: #F7931E !important;
}
        
    .main-sidebar{
         background-color: white !important;
     }
     
     .skin-blue .sidebar-menu>li.header {
        color: white !important;
        background: #eea236 !important;
        text-align: center !important;
    }
    /*Centrar glypicon*/
    .fa {    
       display: block !important;
       padding: 10px 1px;
        margin: 0 auto !important;
    }
    
    

    /*Efecto zoom en la imagen*/
       .zoom{
            /* Aumentamos la anchura y altura durante 2 segundos */
            transition: width 2s, height 2s, transform 2s;
            -moz-transition: width 2s, height 2s, -moz-transform 2s;
            -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
            -o-transition: width 2s, height 2s,-o-transform 2s;
        }
    .zoom:hover{
        /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
        transform : scale(2);
        -moz-transform : scale(2);      /* Firefox */
        -webkit-transform : scale(2);   /* Chrome - Safari */
        -o-transform : scale(2);        /* Opera */
        }

    /*Sombra de Menu izquierdo y header*/    
        .main-sidebar{          
            -webkit-box-shadow: 10px 10px 5px 0px rgba(102,102,102,1);
            -moz-box-shadow: 10px 10px 5px 0px rgba(102,102,102,1);
            /*box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.15);*/
            box-shadow: 3px 3px 3px rgba(0,0,0,0.25);

        }
        
     
     /*Color negro de texto*/
    .skin-blue .sidebar a {             /*Menu Principal*/
        color: #666666 !important;
        font-size: 16px;
    }
    
    .skin-blue .treeview-menu>li>a {    /*Submenu*/
        color: #666666 !important;        
        font-size: 16px !important ;
    }
    
    .skin-blue .sidebar-menu>li>a{  /*Color plomo a las cajas del menu izquierdo*/
        border: solid 1px #ECF0F5;
    }
    
    
    .skin-blue .sidebar a:hover {
        color: #eea236 !important;
         background-color: white !important;
    }
    
   
    .skin-blue .treeview-menu>li>a:hover {
         color: #eea236 !important;
         /*background-color: white !important;*/
    }
    
    .skin-blue .sidebar-menu>li>.treeview-menu {
        background: white !important;
    }
    
    .skin-blue .sidebar-menu>li.active>a {
        color: white;
        background: #eea236 !important;
    }
    
    skin-blue .sidebar a:active {
     color: transparent !important; 
}

/*//Colores caracteristicos del sitio*/
.texto_tomate{
    color: #F7931E;
}
.texto_azul{
    color: #264E61;
}
.texto_blanco{
    color: white;
}

.seccion_tomate{
/*    background-color: #F7931E;
    color: white;
    padding: 10px 10px;
    font-size: 20px;*/
    
    background-color: #F7931E;
    color: white; 
    font-size: 20px;
    padding: 40px 0px 20px 25px;
    width: 100%;
    max-height: 76px;
}

.seccion_tomate_pasos{
    /*//background-color: #FF5515;*/
    background-color: #F7931E;
    color: white; 
    font-size: 20px;
    padding: 40px 0px 20px 25px;
    width: 100%;
    max-height: 76px;
}

.seccion_tomate_detalles_mensajero{
    /*//background-color: #FF5515;*/
    background-color: #F7931E;
    color: white; 
    font-size: 20px;
    padding: 10px 0px 20px 25px;
    width: 100%;
    max-height: 76px;
}

/*.numero_pasos{
    font-size: 26px;
    border-radius: 5px;
    border: solid 1px white;
}*/

.numero_pasos{
  height: 50px;
  width: 50px;
  display: table-cell;
  text-align: center;
  font-size:36px;
  vertical-align: middle;
  border-radius: 50%;
  /*background: #FF5515;*/
  background: #F7931E;
  border: solid 2px white;
  
 text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}



.seccion_azul{
/*    background-color: #F7931E;
    color: white;
    padding: 10px 10px;
    font-size: 20px;*/
    
    background-color: #264E61;
    color: white; 
    font-size: 20px;
    padding: 40px 0px 20px 25px;
    width: 100%;
    max-height: 76px;
}



    .sombra {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(255,85,21,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(255,85,21,1);
        box-shadow: 10px 10px 5px 0px rgba(255,85,21,1);
    } 
    
        hr {
        border-top: 1px solid #FF5515;
    }
    
        .content-header{
        display:none;
    }
    
    
/****************************Cajas de texto index********************************/

.historial, .asesoria, .saldo, .cuenta{
    width: 345px;
    height:150px; 
    padding: 10px 10px;
    margin: 15px 15px;    
    /*border: solid 1px red;*/  
}

/*.promociones{*/
/*    width: 345px;
    height:325px; 
    padding: 5px 5px;
     margin: 15px 15px;  */
    /*border: solid 1px blue;*/  
/*}*/

.historial{
    background-color: #FEF7F1; 
}

.asesoria{
    background-color: #FEEFE3;
}

.saldo{
    background-color: #FEE9D9;
}

.cuenta{
    background-color: #FDE4D0;
}

.iconos{
    margin-top:20px;
    font-size: 50px !important;
    color: #F7931E;
}


/***************/
/*CONTENEDOR PRINCIPAL*/
/***************/
.content-wrapper{
    padding: 10px 13px;
    height: auto !important;
}

/***************/
/*ENVIO FORM*/
/***************/
/*.envio-form{
    border: solid 2px red;
    padding: 5px 5px;
}*/